USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 7/7/2020 9:28:53 PM ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEPRESS\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEPRESS\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 7/7/2020 9:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[book_id] [char](10) NOT NULL,
	[book_name] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[publisher] [nvarchar](50) NULL,
	[total_books] [int] NULL,
	[available_books] [int] NULL,
	[year_export] [char](10) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Borrow_Order]    Script Date: 7/7/2020 9:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Order](
	[borrow_order_id] [int] IDENTITY(1,1) NOT NULL,
	[library_user_id] [nvarchar](50) NULL,
	[borrow_date] [date] NULL,
	[return_date] [date] NULL,
	[is_returned] [bit] NULL,
 CONSTRAINT [PK_Borrow_Order] PRIMARY KEY CLUSTERED 
(
	[borrow_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Library_User]    Script Date: 7/7/2020 9:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library_User](
	[library_user_id] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[role_id] [nchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[gender] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[address] [nvarchar](200) NULL,
 CONSTRAINT [PK_Library_User] PRIMARY KEY CLUSTERED 
(
	[library_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 7/7/2020 9:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[borrow_order_id] [int] NOT NULL,
	[book_id] [char](10) NOT NULL,
	[quantity] [int] NULL,
	[note] [nvarchar](100) NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[borrow_order_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role_User]    Script Date: 7/7/2020 9:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_User](
	[role_id] [nchar](10) NOT NULL,
	[role_name] [nchar](10) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Book] ([book_id], [book_name], [author], [publisher], [total_books], [available_books], [year_export], [status]) VALUES (N'1         ', N'toi thay hoa vang tren co xanh', N'Nguyen Nhat Anh', N'Nhi Dong', 10, 10, N'0         ', 1)
INSERT [dbo].[Book] ([book_id], [book_name], [author], [publisher], [total_books], [available_books], [year_export], [status]) VALUES (N'10        ', N'10', N'10', N'10', 10, 10, NULL, 1)
INSERT [dbo].[Book] ([book_id], [book_name], [author], [publisher], [total_books], [available_books], [year_export], [status]) VALUES (N'11        ', N'1', N'1', N'1', 1, 0, N'1         ', 1)
SET IDENTITY_INSERT [dbo].[Borrow_Order] ON 

INSERT [dbo].[Borrow_Order] ([borrow_order_id], [library_user_id], [borrow_date], [return_date], [is_returned]) VALUES (134, N'giang', CAST(0x47410B00 AS Date), CAST(0x66410B00 AS Date), 1)
INSERT [dbo].[Borrow_Order] ([borrow_order_id], [library_user_id], [borrow_date], [return_date], [is_returned]) VALUES (135, N'giang', CAST(0x47410B00 AS Date), CAST(0x66410B00 AS Date), 1)
INSERT [dbo].[Borrow_Order] ([borrow_order_id], [library_user_id], [borrow_date], [return_date], [is_returned]) VALUES (136, N'giang', CAST(0x47410B00 AS Date), CAST(0x66410B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[Borrow_Order] OFF
INSERT [dbo].[Library_User] ([library_user_id], [password], [role_id], [name], [gender], [phone], [address]) VALUES (N'1', N'1', N'US        ', N'1', N'1         ', N'1         ', N'1')
INSERT [dbo].[Library_User] ([library_user_id], [password], [role_id], [name], [gender], [phone], [address]) VALUES (N'a', N'a', N'US        ', N'a', N'nam       ', N'a         ', N'a')
INSERT [dbo].[Library_User] ([library_user_id], [password], [role_id], [name], [gender], [phone], [address]) VALUES (N'duy', N'duy', N'US        ', N'Tran Le Duy', N'nam       ', N'123       ', N'123 Tang Nhon Phu')
INSERT [dbo].[Order_Detail] ([borrow_order_id], [book_id], [quantity], [note]) VALUES (134, N'2         ', 2, NULL)
INSERT [dbo].[Order_Detail] ([borrow_order_id], [book_id], [quantity], [note]) VALUES (134, N'99        ', 1, NULL)
INSERT [dbo].[Order_Detail] ([borrow_order_id], [book_id], [quantity], [note]) VALUES (135, N'8         ', 1, NULL)
GO
INSERT [dbo].[Role_User] ([role_id], [role_name]) VALUES (N'AD        ', N'admin     ')
INSERT [dbo].[Role_User] ([role_id], [role_name]) VALUES (N'US        ', N'user      ')
ALTER TABLE [dbo].[Borrow_Order]  WITH CHECK ADD  CONSTRAINT [FK__Borrow_Or__libra__403A8C7D] FOREIGN KEY([library_user_id])
REFERENCES [dbo].[Library_User] ([library_user_id])
GO
ALTER TABLE [dbo].[Borrow_Order] CHECK CONSTRAINT [FK__Borrow_Or__libra__403A8C7D]
GO
ALTER TABLE [dbo].[Library_User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role_User] ([role_id])
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__book___20C1E124] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__book___20C1E124]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__borro__3A81B327] FOREIGN KEY([borrow_order_id])
REFERENCES [dbo].[Borrow_Order] ([borrow_order_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK__Order_Det__borro__3A81B327]
GO
USE [master]
GO
